.form-container form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-container button{
    width: 90%;
    height: 100%;
    padding: 2vh 7vh 2vh 7vh;
    background: #E68210;
    border: none;
    border-radius: 30px;
    transition: 0.5s ease;
    margin: 2vh 0;
}

.form-container button:hover{
    transform: scale(1.02);
    filter: brightness(1.02);
}

.inputs-container {
    margin: 2vh 0;
    padding: 10px;
    display: flex;
    flex-direction: row;
    background: #DDD3CA;
    width: 90%;
    border-radius: 30px;
    transition: all 0.4s ease-in-out;
}

.inputs-container:hover {
    filter: brightness(1.1);
}

.inputs-container:hover input {
    filter: brightness(1.1);
}

.inputs-container svg {
    filter: brightness(1.1);
}

.inputs-container input {
    font-size: 14pt;
    width: 90%;
    background: none;
    border: none;
    margin-left: 5px;
    border-left: 2px solid #5B4B3F;
    color: #5B4B3F;
    padding-left: 10px;
    transition: 0.5s ease;
}