.gift-cards{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
    color: inherit;
}

.gift-cards p{
    font-size: 12pt ;
}

.title {
    font-weight: 600;
}

.category-color-block {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1vh;
    padding: 1rem;
    box-sizing: border-box;
    border: 2px solid var(--white);
}

.category-name {
    font-weight: bold;
    font-size: 1.2rem;
    color: var(--white);
    text-align: center;
}